extends layout.pug

block HRapp 

  div.container.employeepage
    h1.head-text All Employees of the Company 

    each employee in employees 

      div.wrapper
        a.employee(href=`/employees/${ employee.id }`)= employee.name
        a.btnEdit(href='/employees/edit/'+employee.id) EDIT
        a.btnDelete(href=`/${ employee.id }/delete`) DELETE
