extends layout.pug 



block HRapp


  div.container
    h1.main-text This HR Application was build by student 00010358. This application can Add, Update and Delete employees. Additionally, it can also show the added information about the employee. 


    a.adding-person(href='/add') Add employee
    