extends layout.pug 

block HRapp

  div.container
    h1.main-text This web application was created by student 00010358 to fulfill Web Technology module’s requirements and does not represent an actual company or service. 

    a.adding-person(href='/add') Add employee
    
