doctype html
html(lang="en")
    head
        title HR Application
        link(rel='stylesheet' href='/static/styles.css')


    body
      header.navbar
        h1
          a(href='/') HR Application


        nav.nav
          a(href='/employees') Employees
          a(href='/api/v1/employees') Rest API



      block HRapp


