doctype html
html(lang="en")
    head
        title HR Application
        link(rel='stylesheet' href='/static/styles.css')
        style. 

    body.img

      header.navbar
        div.topnav

          h3
            a.menu(href='/') Main Page
            a.menu(href='/employees') Employees
            a.menu(href='/api/v1/employees') Rest API


      block HRapp


